@import url(reset.css);

html,
body {
   color: #505471;
   font-family: 'trebuchet ms', 'sans-serif';
}

.article {
   max-width: 1280px;
   margin: 20px auto;
   padding: 20px 15px;
   background-color: #ecf0f3;
}

.article__title {
   margin-bottom: 20px;
   font-size: 30px;
   font-weight: bold;
   text-align: center;
}

#main_title {
   color: blue;
}

.article__sub-title {
   margin-bottom: 20px;
   color: brown;
   font-size: 24px;
   font-weight: bold;
}

[class*="first"] {
   color: red;
}

.article__sub-sub-title {
   margin-bottom: 5px;
   font-size: 18px;
   font-weight: bold;
}

.article p {
   margin-bottom: 20px;
   line-height: 1.5;
}

.article__list {
   margin-bottom: 20px;
   padding-left: 15px;
}

.article__list li {
   line-height: 1.5;
}

.article__list li.item {
   color: blueviolet;
}

.article__list.list_productions li:first-child+li {
   color: #0010bd;
   font-weight: bold;
}

.article a {
   display: inline-block;
   margin-bottom: 20px;
   color: green;
   border-bottom: 1px dashed green;
   font-weight: bold;
}

.article__image {
   float: right;
   max-width: 500px;
   margin-bottom: 20px;
   border: 2px solid #505471;
   border-radius: 10px;
   overflow: clip;
}

.article__sub-title.last_sub-title {
   color: coral;
}