@font-face {
   font-family: "Praysire-Demo";
   src: url(../fonts/Praysire-Demo.woff2);
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Rubik";
   src: url(../fonts/Rubik-400.woff2);
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Rubik";
   src: url(../fonts/Rubik-500.woff2);
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}